n8n/loymalila_sync_workflow.json
{
  "name": "Pumpui Dashboard (Masking + LINE Alert)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "b8c369f5-cfb7-44d9-9a5f-82e1cec45281",
      "name": "Cron Trigger 05:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "IF OBJECT_ID('pumpui_sync_log', 'U') IS NULL\nBEGIN\n    CREATE TABLE pumpui_sync_log (\n        SyncID INT IDENTITY(1,1) PRIMARY KEY,\n        SyncDate DATETIME DEFAULT GETDATE(),\n        NewRecords INT,\n        ModifiedRecords INT,\n        TotalRecords INT,\n        errorDetails NVARCHAR(MAX)\n    );\nEND\nELSE\nBEGIN\n    IF COL_LENGTH('pumpui_sync_log', 'errorDetails') IS NULL\n    BEGIN\n        ALTER TABLE pumpui_sync_log ADD errorDetails NVARCHAR(MAX);\n    END\nEND\n\nDECLARE @ModifiedDetails TABLE (\n    OrderID VARCHAR(50),\n    CustomerName NVARCHAR(255),\n    ProductName NVARCHAR(255),\n    OldNetAmount FLOAT,\n    NewNetAmount FLOAT,\n    OldQuantity INT,\n    NewQuantity INT,\n    OldPrice FLOAT,\n    NewPrice FLOAT\n);\n\nINSERT INTO @ModifiedDetails\nSELECT \n    e.OrderID,\n    e.CustomerName,\n    e.ProductName,\n    s.NetAmount AS OldNetAmount,\n    e.NetAmount AS NewNetAmount,\n    s.Quantity AS OldQuantity,\n    e.Quantity AS NewQuantity,\n    s.Price AS OldPrice,\n    e.Price AS NewPrice\nFROM pumpui_erp e\nINNER JOIN pumpui_show s ON s.OrderID = e.OrderID\nWHERE s.NetAmount <> e.NetAmount OR s.Quantity <> e.Quantity OR s.Price <> e.Price;\n\nDECLARE @new_count INT;\nDECLARE @mod_count INT;\nDECLARE @total_count INT;\nDECLARE @error_count INT;\nDECLARE @error_details_str NVARCHAR(MAX);\n\nSELECT @new_count = COUNT(*) \nFROM pumpui_erp e\nWHERE NOT EXISTS (SELECT 1 FROM pumpui_show s WHERE s.OrderID = e.OrderID);\n\nSELECT @mod_count = COUNT(*) FROM @ModifiedDetails;\n\nSELECT @total_count = COUNT(*) FROM pumpui_erp;\n\nDECLARE @ErrorOrderIDs TABLE (OrderID VARCHAR(50));\nINSERT INTO @ErrorOrderIDs\nSELECT OrderID FROM pumpui_erp\nWHERE OrderID IS NULL OR OrderDate IS NULL OR CustomerID IS NULL OR ProductID IS NULL OR NetAmount IS NULL OR NetAmount < 0 OR Quantity IS NULL OR Quantity < 0 OR Price IS NULL OR Price < 0 OR Region IS NULL OR Region = '' OR ProvinceID IS NULL OR ProvinceID = '' OR Province IS NULL OR Province = '';\n\nSELECT @error_count = COUNT(*) FROM @ErrorOrderIDs;\n\nDECLARE @Top5 NVARCHAR(MAX);\nSET @Top5 = '';\n\nSELECT @Top5 = COALESCE(@Top5 + ', ', '') + OrderID\nFROM (\n    SELECT TOP 5 OrderID FROM @ErrorOrderIDs ORDER BY OrderID\n) t;\n\nIF LEN(@Top5) > 2\nBEGIN\n    SET @Top5 = SUBSTRING(@Top5, 3, LEN(@Top5) - 2);\nEND\n\nIF @error_count > 5\nBEGIN\n    DECLARE @remaining INT;\n    SET @remaining = @error_count - 5;\n    SET @error_details_str = @Top5 + N' (และอีก ' + CAST(@remaining AS NVARCHAR(50)) + N' รายการ)';\nEND\nELSE\nBEGIN\n    SET @error_details_str = @Top5;\nEND\n\n-- Use sp_executesql to avoid compile-time \\\"Invalid column name 'errorDetails'\\\" error\nEXEC sp_executesql \n    N'INSERT INTO pumpui_sync_log (SyncDate, NewRecords, ModifiedRecords, TotalRecords, errorDetails) VALUES (GETDATE(), @new, @mod, @total, @errDetails)',\n    N'@new INT, @mod INT, @total INT, @errDetails NVARCHAR(MAX)',\n    @new = @new_count,\n    @mod = @mod_count,\n    @total = @total_count,\n    @errDetails = @error_details_str;\n\nDELETE FROM pumpui_show_fact;\nDELETE FROM pumpui_show_dim_customer;\nDELETE FROM pumpui_show_dim_product;\nDELETE FROM pumpui_show_dim_geography;\n\nINSERT INTO pumpui_show_dim_geography (ProvinceID, Province, Region)\nSELECT DISTINCT ProvinceID, Province, Region\nFROM pumpui_erp\nWHERE OrderID IS NOT NULL AND OrderDate IS NOT NULL AND CustomerID IS NOT NULL AND ProductID IS NOT NULL AND NetAmount IS NOT NULL AND NetAmount >= 0 AND Quantity IS NOT NULL AND Quantity >= 0 AND Price IS NOT NULL AND Price >= 0 AND Region IS NOT NULL AND Region <> '' AND ProvinceID IS NOT NULL AND ProvinceID <> '' AND Province IS NOT NULL AND Province <> '';\n\nINSERT INTO pumpui_show_dim_customer (CustomerID, CustomerName, CustomerType)\nSELECT DISTINCT CustomerID, CustomerName, CustomerType\nFROM pumpui_erp\nWHERE OrderID IS NOT NULL AND OrderDate IS NOT NULL AND CustomerID IS NOT NULL AND ProductID IS NOT NULL AND NetAmount IS NOT NULL AND NetAmount >= 0 AND Quantity IS NOT NULL AND Quantity >= 0 AND Price IS NOT NULL AND Price >= 0 AND Region IS NOT NULL AND Region <> '' AND ProvinceID IS NOT NULL AND ProvinceID <> '' AND Province IS NOT NULL AND Province <> '';\n\nINSERT INTO pumpui_show_dim_product (ProductID, ProductName, ProductCategory)\nSELECT DISTINCT ProductID, ProductName, ProductCategory\nFROM pumpui_erp\nWHERE OrderID IS NOT NULL AND OrderDate IS NOT NULL AND CustomerID IS NOT NULL AND ProductID IS NOT NULL AND NetAmount IS NOT NULL AND NetAmount >= 0 AND Quantity IS NOT NULL AND Quantity >= 0 AND Price IS NOT NULL AND Price >= 0 AND Region IS NOT NULL AND Region <> '' AND ProvinceID IS NOT NULL AND ProvinceID <> '' AND Province IS NOT NULL AND Province <> '';\n\nINSERT INTO pumpui_show_fact (OrderID, OrderDate, CustomerID, ProductID, ProvinceID, Price, Quantity, NetAmount)\nSELECT OrderID, OrderDate, CustomerID, ProductID, ProvinceID, Price, Quantity, NetAmount\nFROM pumpui_erp\nWHERE OrderID IS NOT NULL AND OrderDate IS NOT NULL AND CustomerID IS NOT NULL AND ProductID IS NOT NULL AND NetAmount IS NOT NULL AND NetAmount >= 0 AND Quantity IS NOT NULL AND Quantity >= 0 AND Price IS NOT NULL AND Price >= 0 AND Region IS NOT NULL AND Region <> '' AND ProvinceID IS NOT NULL AND ProvinceID <> '' AND Province IS NOT NULL AND Province <> '';\n\nDECLARE @Inserted INT = @@ROWCOUNT;\n\nUPDATE pumpui_show_dim_customer\nSET CustomerName = LEFT(CustomerName, 4) + '***'\nWHERE CustomerName IS NOT NULL;\n\nDECLARE @ErrorCount INT = (SELECT COUNT(*) FROM pumpui_erp WHERE NetAmount IS NULL OR ProvinceID IS NULL OR Province IS NULL);\n\nSELECT @Inserted AS rowsInserted, @ErrorCount AS rowsError;"
      },
      "id": "d0941dce-d03a-4582-8072-3bbff764119f",
      "name": "MSSQL Sync Execution",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        128,
        -48
      ],
      "credentials": {
        "microsoftSql": {
          "id": "Nof7RjrZiPA5tosn",
          "name": "Microsoft SQL account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Asyd2kkNaVb+3LppSKyiYokMKZ462v60lbc9iHUVMxrP6j3Bj6E30KjftmMUgFWFBkuP3DSxpZ9EQWrfXATXpJqCOROnqs7jjKm1TYGvx6O/RPTwzDNlhCqyf06xh5CiaUnJ1r4VkR7+G5BKG/G3qwdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"U8dece33ef023ddbe7311fb7532d6f1fe\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"✅ สรุปการทำงาน Pumpui Dashboard\\n\\n⏰ เวลา: {{$now.setZone('Asia/Bangkok').toFormat('yyyy-MM-dd HH:mm:ss')}}\\n📊 จำนวนข้อมูลที่อัปเดต: {{$json.rowsInserted || 0}} รายการ\\n❌ ข้อมูลที่ไม่สมบูรณ์: {{$json.rowsError || 0}} รายการ\\n🔍 ดูที่มีปัญหา: https://advanced-data-test.vercel.app/#sync\\n🌐 แดชบอร์ด: https://advanced-data-test.vercel.app\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-line-success",
      "name": "LINE API (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        360,
        -48
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Asyd2kkNaVb+3LppSKyiYokMKZ462v60lbc9iHUVMxrP6j3Bj6E30KjftmMUgFWFBkuP3DSxpZ9EQWrfXATXpJqCOROnqs7jjKm1TYGvx6O/RPTwzDNlhCqyf06xh5CiaUnJ1r4VkR7+G5BKG/G3qwdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"U8dece33ef023ddbe7311fb7532d6f1fe\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"❌ เกิดข้อผิดพลาดในการซิงค์ข้อมูล!\\n\\n⏰ เวลา: {{$now.setZone('Asia/Bangkok').toFormat('yyyy-MM-dd HH:mm:ss')}}\\n⚠️ สถานะ: ระบบทำงานไม่สำเร็จ\\n📝 รายการที่ผิดพลาด: {{$json.execution.error.message}}\\n🌐 แดชบอร์ด: https://advanced-data-test.vercel.app\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-line-error",
      "name": "LINE API (Error)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        128,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Trigger 05:00 AM": {
      "main": [
        [
          {
            "node": "MSSQL Sync Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSSQL Sync Execution": {
      "main": [
        [
          {
            "node": "LINE API (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "LINE API (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}